.App {
  text-align: center;
}
.app-title {
  font-size: 50px;
}

.input-container {
  display: flex;
  justify-content: center;
}

.app-subtitle {
  margin-top: -20px;
  color: rgb(60, 60, 60);
  font-size: 40px;
}

.app-search-input {
  border: none;
  font-size: 30px;
  border-bottom: 3px solid navy;
}

.search-icon {
  font-size: 30px;
  margin-right: 10px;
}

.link-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  list-style-type: none;
  font-size: 30px;
}

.list-a {
  color: navy;
  font-weight: bold;
  transition: 0.2s;
}

.list-a:hover {
  color: black;
}
